.resume-button {
  border: 3px solid var(--resume-btn-border);
  overflow: hidden;
  transition: 0.3s;
  color: var(--resume-btn-text);
}
.resume-button:after {
  transition: 0.3s;
  height: 3px;
  z-index: 10;
  backface-visibility: hidden;
  background-color: var(--resume-btn-bg);
}
.resume-button:after {
  height: 120%;
  left: -10%;
  transform: skewX(15deg);
  z-index: -1;
}
.resume-button:hover:after {
  width: 100%;
  left: 0;
}
.resume-button:focus:after {
  width: 100%;
  left: 0;
}
.resume-button:hover {
  color: var(--resume-btn-text-hover);
}
.resume-button:focus {
  color: var(--resume-btn-text-hover);
}
.resume-button:hover:after {
  left: -10%;
  width: 120%;
}
.resume-button:focus:after {
  left: -10%;
  width: 120%;
}
