.title-content {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  line-height: 40px;
}

.title-content__container {
  height: 40px;
}

.blinker {
  color: #16a085;
  margin: 0 .6rem;
  font-size: 42px;
  line-height: 40px;
  animation-name: title-opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.title-content__container__list {
  animation-name: title-change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes title-opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes title-change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 37%, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, 12%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -13%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -38%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -13%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, 12%, 0);
  }
}

.avatar-image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */

.reveal-text {
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-duration: 800ms;
  animation: clip-text 2s cubic-bezier(0, 0, 0.2, 1) 2s 1 normal both;
}
.reveal-text::after {
  background-color: #f2f98b;
  transform: scaleX(0);
  transform-origin: 0 50%;
  animation: text-revealer 2s cubic-bezier(0, 0, 0.2, 1) 2s 1 normal both;
}
@keyframes clip-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes text-revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

.fade-in-text {
  animation: fade-in 1.25s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}


