@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Paragraphs */
.BlogPost__Paragraph:first-of-type::first-letter {
  float: left;
  font-family: "Noto Serif Display", serif;
  font-size: 5.8rem;
  line-height: 5.4rem;
  margin: 0 6px 0 0;
  font-weight: 500;
}

.BlogPost__DatePublish {
}

.BlogPost__Title {
  font-family: "Noto Serif Display", serif;
  max-width: 700px;
  margin: 0 auto 3rem auto;
}

.BlogPost {
  max-width: 700px;
}

.BlogPost__Paragraph {
  line-height: 40px;
  font-size: 21px;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  margin: 40px 0;
}

.desktop-padding {
  margin: 0 4rem;
}

.BlogPost__SplashImage {
  width: 1200px;
}
