@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Paragraphs */
.BlogPost__BodyWrapper
  > .BlogPost__Paragraph:not(code):first-of-type::first-letter {
  float: left;
  font-family: "Noto Serif Display", serif;
  font-size: 6rem;
  line-height: 5rem;
  margin: 2px 8px 0 0;
  font-weight: 500;
  color: var(--text-body-lg);
}

.BlogPost__Title {
  font-family: "Noto Serif Display", serif;
  margin-bottom: 3rem;
  line-height: 1.4;
}


.BlogPost {
  max-width: 700px;
}

.BlogPost__Paragraph {
  line-height: 30px;
  font-size: 18px;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  margin: 10px 0 0;
}

.BlogPost__SplashImage {
  border-radius: 0.5rem !important;
}

.desktop-padding {
  margin: 0 4rem;
}
.List__Item > p {
  margin: 0 0 10px 0;
  line-height: 32px;
  font-size: 19px;
}

.List__Item:nth-child(1) {
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .List__Item > p {
    line-height: 30px;
    font-size: 18px;
  }
  .BlogPost__BodyWrapper
  > .BlogPost__Paragraph:not(code):first-of-type::first-letter {
    font-size: 6rem;
    line-height: 3.5rem;
    margin: 1rem 7px 0 0;
  }
}

/* Go back Button */
.go-back-btn > .go-back-arrow {
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}
.go-back-btn:hover > .go-back-arrow {
  transform: translateX(-5px);
}

/* RELATED BLOG POSTS */
.RelatedBlogPost__Link__Container > .RelatedBlogPost__Image {
  transition-property: all;
  transition-duration: 0.3s;
  object-fit: cover;
}
.RelatedBlogPost__Link__Container:hover > .RelatedBlogPost__Image {
  box-shadow: var(--related-post-shadow);
}
.EmbeddedEntry_BlogPost_Card {
  transition-property: all;
  transition-duration: 0.3s;
}
.EmbeddedEntry_BlogPost_Card:hover {
  box-shadow: var(--related-post-shadow);
}
/* TAGS */
.tag-badge {
  display: inline-block;
  height: 30px;
  padding: 1px 10px 0 10px;
  margin: 0 0 0 20px;
  border-radius: 9px;
  position: relative;
  z-index: 1;
}
div.tag-badge:before {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  position: absolute;
  left: -7px;
  top: 2px;
  border-radius: 9px;
  transform: rotate(45.1deg);
  z-index: -1;
}
div.tag-badge:after {
  content: "";
  display: block;
  background: white;
  height: 8px;
  width: 8px;
  position: absolute;
  left: -5px;
  top: 11px;
  border-radius: 100%;
}
.tag-badge.tag-dark:after {
  background: rgb(33, 37, 41);
}

@media screen and (max-width: 418px) {
  .tag-badge {
    margin: 1rem 0 0 20px;
  }
}

/* UNDERLINED MARKDOWN STYLE */
.custom-underline {
  position: relative;
}
.custom-underline:before {
  content: "";
  width: 100%;
  height: 0.2rem;
  position: absolute;
  bottom: -0.1rem;
  z-index: -1;
  background: currentColor;
}
.custom-underline--red:before {
  background: red;
}
.custom-underline--green:before {
  background: limegreen;
}
.custom-underline--yellow:before {
  background: yellow;
}

/* HYPERLINKS */
.BlogPost__HyperLink {
  flex: 1;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    rgb(0, 255, 213) 0,
    rgb(0, 255, 213) 100%
  );
  background-position: 0 1.3em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
}
.BlogPost__HyperLink:hover {
  background-size: 100% 100%;
}

/* EmbeddedEntry_BlogPost_Card */
.dark-theme {
  --card-bg-color: rgba(10, 10, 10, 0.39);
}

.light-theme {
  --card-bg-color: rgba(243, 243, 243, 0.39);
}

.EmbeddedEntry_BlogPost_Card {
  background-color: var(--card-bg-color);
}

.BlogPost__Paragraph__Code {
  word-break: break-all;
  padding: 5px 5px;
  font-size: 14px;
  line-height: 1;
  color: var(--inline-code);
  background: var(--inline-code-bg);
  border-radius: 3px;
}

@media screen and (min-width: 420px) {
  .BlogPost__Paragraph__Code {
    font-size: 0.8em;
    letter-spacing: 0.01rem;
  }
}
.Sticky__Paragraph {
  font-size: 18px;
  line-height: 1.8rem;
}

.Sticky__Title {
  font-size: 21px;
}


/* TABLE */
tbody tr td:first-child {
  color: var(--table-second-color);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 10px;
}
table {
  display: table;
  font-size: 18px;
}
table td {
  font-weight: normal;
  font-size: 16px; 
}
table th {
	font-weight: 600;
  text-align: left;
  color: var(--table-first-color);
}

table td, table th {
	padding-bottom: 2%;
  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
table tr:nth-child(odd) {
	  background-color: var(--odd-row);
}

/* Background-color of the even rows */
table tr:nth-child(even) {
	  background-color: var(--even-row);
}

table th {
	  background-color: var(--table-third-color);
}

tbody tr:hover {
   background-color: var(--table-hover);
}

@media screen and (max-width: 480px) {
  table {
    display: table;
    font-size: 17px;
  }
  table td {
    font-weight: normal;
    font-size: 15px; 
    padding: 2px 5px 2px 2px;
  }
  tbody tr td:first-child {
    padding: 0 5px 0 5px;
  }
}

@media screen and (max-width: 430px) {
  table {
    display: table;
    font-size: 16px;
  }
  table td {
    font-weight: normal;
    font-size: 14px; 
    
  }
}


/* TRANSLATION BUTTON */
.translation-button {
  transition-property: all;
  transition-duration: 0.3s;
}

.translation-button:hover, .translation-button:focus {
  box-shadow: var(--translation-button);
}

.AddTranslation__Button {
  color: var(--add-translation)
}
.AddTranslation__Button:hover, .AddTranslation__Button:focus {
  color: var(--add-translation-hover)
}