/* CIRCLES CURSOR STYLES */

.circle {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  border-radius: 50%;
}

.circle.sm {
  width: 30px;
  height: 30px;
  background-color: rgba(49, 255, 152, 0.9);
}

.circle.md {
  width: 60px;
  height: 60px;
  background-color: rgba(49, 255, 152, 0.5);
}

.circle.lg {
  width: 90px;
  height: 90px;
  background-color: rgba(49, 255, 152, 0.1);
}

.circle.active {
  border: solid 1px rgb(49, 255, 152);
  background-color: transparent;
}

/* CUSTOM CURSOR */
.custom-cursor {
  transform: scale(1);
  border-radius: 50%;
  transition: all 0.35s, top 0s, left 0s;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.first-cursor {
  background-color: rgb(0, 0, 0);
  height: 8px;
  width: 8px;
}
.second-cursor {
  background-color: none;
  border: 3px solid rgb(0, 0, 0);
  height: 54px;
  width: 54px;
}

.first-cursor.big {
  height: 140px !important;
  width: 140px;
}
.second-cursor.big {
  height: 0px;
  width: 0px;
}

/* SOCIAL MEDIAS */
.sm-wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  justify-self: center;
}

.sm-wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sm-wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sm-wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.sm-wrapper .icon:hover span,
.sm-wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.sm-wrapper .facebook:hover,
.sm-wrapper .facebook:hover .tooltip,
.sm-wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.sm-wrapper .twitter:hover,
.sm-wrapper .twitter:hover .tooltip,
.sm-wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.sm-wrapper .instagram:hover,
.sm-wrapper .instagram:hover .tooltip,
.sm-wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.sm-wrapper .github:hover,
.sm-wrapper .github:hover .tooltip,
.sm-wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.sm-wrapper .youtube:hover,
.sm-wrapper .youtube:hover .tooltip,
.sm-wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}
