/* Get in touch animation */
svg {
  font: 20em inherit;
  letter-spacing: 0.15em;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

svg text {
  fill: #111;
  stroke: #111;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 3s ease-out;
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }
  25% {
    stroke-width: 3px;
  }
  50% {
    fill-opacity: 0;
  }
  75% {
    stroke-width: 3px;
  }
  100% {
    stroke-width: 0;
  }
}
