/* ---------------------------GLOBAL BASE-------------------------- */
/* ---------------------------GLOBAL BASE-------------------------- */
/* ---------------------------GLOBAL BASE-------------------------- */
/* ---------------------------GLOBAL BASE-------------------------- */
/* ---------------------------GLOBAL BASE-------------------------- */
/* ---------------------------GLOBAL BASE-------------------------- */
body {
  font-size: 62.5%;
  background-color: var(--background-color);
  overflow-x: hidden;
  font-weight: 400;
  width: 100%;
  font-display: block;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
html {
  overflow-x: hidden;
}

.Background__ColorTransition--short {
  transition-property: background-color;
  transition-duration: 0.3s;
}

svg {
  user-select: none;
}

/* ---------------------------ANIMATION-------------------------- */
/* ---------------------------ANIMATION-------------------------- */
/* ---------------------------ANIMATION-------------------------- */
/* ---------------------------ANIMATION-------------------------- */
/* ---------------------------ANIMATION-------------------------- */
/* ---------------------------ANIMATION-------------------------- */
.hide {
  opacity: 0;
  transform: translateY(8rem);
}

.show {
  transition: transform 2s, opacity 1s;
}

/* ---------------------------DECORATION-------------------------- */
/* ---------------------------DECORATION-------------------------- */
/* ---------------------------DECORATION-------------------------- */
/* ---------------------------DECORATION-------------------------- */
/* ---------------------------DECORATION-------------------------- */
/* ---------------------------DECORATION-------------------------- */

/* EAT, LEARN, CODE */
.elc-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-weight: 300;
  color: var(--elc-text);
}

@media screen and (max-width: 480px) {
  .elc-container {
    display: none;
  }
  .gradient-bg-3 {
    display: none;
  }
}
.elc-reveal {
  margin: 0 20px;
  overflow: hidden;
}
.elc-reveal__content {
  transform: translateY(100%);
  animation: elc-reveal 1.7s cubic-bezier(1, 0, 0.3, 0.9) forwards;
}
.elc-reveal:nth-child(2) .elc-reveal__content {
  animation-delay: 0.6s;
}
.elc-reveal:nth-child(3) .elc-reveal__content {
  animation-delay: 1.2s;
}

@keyframes elc-reveal {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* GRADIENT BACKGROUNDS */
.gradient-bg {
  z-index: -10;
}


/* GLOWING CLOUDS */

.spots {
  position: relative;
  width: 550px;
  height: 550px;
}

.spot {
  display: block;
  overflow: hidden;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width: 400px;
  height: 400px;

  background-position: 50% 50%;
  background-size: 100% 100%;

  opacity: 0.5;
}
.spot-1 {
  top: auto;
  left: auto;
  background-image: radial-gradient(
    50% 50%,
    rgba(228, 66, 154, 0.9),
    rgba(228, 66, 154, 0)
  );
  animation: glow 10s infinite 3.333s;
  -webkit-animation: glow 10s infinite 3.333s; /* Safari and Chrome */
}
.spot-2 {
  top: auto;
  right: auto;
  background-image: radial-gradient(
    50% 50%,
    rgba(67, 139, 200, 0.9),
    rgba(67, 139, 200, 0)
  );
  animation: glow 10s infinite 6.666s;
  -webkit-animation: glow 10s infinite 6.666s; /* Safari and Chrome */
}
.spot-3 {
  bottom: auto;
  left: 50%;
  right: auto;
  margin: 0;
  margin-left: -200px;
  background-image: radial-gradient(
    50% 50%,
    rgba(137, 214, 254, 0.9),
    rgba(137, 214, 254, 0)
  );
  animation: glow 10s infinite 10s;
  -webkit-animation: glow 10s infinite 10s; /* Safari and Chrome */
}

@keyframes glow {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes glow {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.25;
  }
}

/* Waves Footer */
.ocean {
  height: 100vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -10;
  overflow: hidden;
}

.wave {
  background: url(/wave.svg);
  position: absolute;
  bottom: 0px;
  width: 6400px;
  height: 198px;
  animation: wave 3s ease-in-out infinite alternate;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 2s ease-in-out infinite alternate,
    swell 2s ease-in-out infinite alternate;
  opacity: 1;
}

@keyframes wave {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes swell {
  0% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0);
  }
}

.gradient-bg-3 {
  overflow: visible !important;
}

/* IPHONE MINI */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .gradient-bg-3 {
    display: none;
  }
}

/* IPHONE */
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .gradient-bg-3 {
    display: none;
  }
}

/* IPHONE PRO MAX */
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .gradient-bg-3 {
    display: none;
  }
}



/* 
Top-level view transition rules
*/

.screen-body {
  view-transition-name: crosspage-animation;
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0rem);
  }
  to {
    opacity: 0;
    transform: translateY(100vh);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
    opacity: 1
  }
}

::view-transition-old(crosspage-animation),
::view-transition-new(crosspage-animation) {
  height: auto;
  right: 0;
  left: auto;
  transform-origin: right center;
}

::view-transition-old(crosspage-animation) {
  animation-duration: 2s;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-name: fade-out;
}

::view-transition-new(crosspage-animation) {
  animation-duration: 2s;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-name: slide-up;
}