/* ---------------------------GLOBAL BASE-------------------------- */
/* ---------------------------GLOBAL BASE-------------------------- */
/* ---------------------------GLOBAL BASE-------------------------- */
/* ---------------------------GLOBAL BASE-------------------------- */
/* ---------------------------GLOBAL BASE-------------------------- */
/* ---------------------------GLOBAL BASE-------------------------- */
body {
  font-size: 62.5%;
  background-color: var(--background-color);
  overflow-x: hidden;
  width: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

/* NAVBAR LOGO */
.letter {
  transition: 250ms ease;
}

.enter {
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.letter:hover {
  color: hsl(160, 70%, 50%);
  animation: jello-horizontal 0.9s forwards;
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* THEME BUTTONS */

/* GRADIENT BACKGROUNDS */
.gradient-bg {
  z-index: -100000;
}

/* ---------------------------TOP SECTION-------------------------- */
/* ---------------------------TOP SECTION-------------------------- */
/* ---------------------------TOP SECTION-------------------------- */
/* ---------------------------TOP SECTION-------------------------- */
/* ---------------------------TOP SECTION-------------------------- */
/* ---------------------------TOP SECTION-------------------------- */
/* ---------------------------TOP SECTION-------------------------- */
/* ---------------------------TOP SECTION-------------------------- */
/* ---------------------------TOP SECTION-------------------------- */
/* ---------------------------TOP SECTION-------------------------- */

.use-typewriter-cursor:after {
  content: "";
  border-right: 2px solid currentColor;
  animation: blink 0.45s normal 0s infinite, wait 1s normal;
  border-right: 16px solid rgb(253, 124, 19);
  animation-direction: alternate;
}

.welcome {
  height: 85vh;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mouse p {
  animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
}
.mouse {
  background: #3bc1ff
    linear-gradient(transparent 0%, transparent 50%, white 50%, white 100%);
  width: 52px;
  height: 88px;
  border-radius: 100px;
  background-size: 100% 200%;
  animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}
.mouse:before,
.mouse:after {
  background-color: rgb(213, 241, 237);
}
.mouse:before {
  width: 46px;
  height: 82px;
  border-radius: 100px;
}
.mouse:after {
  background-color: rgb(9, 122, 175);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  animation: trackBallSlide 5s linear infinite;
}
@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: rgb(9, 122, 175);
  }
  29.99% {
    background-color: white;
    background-position: 0% 0%;
  }
  30% {
    background-color: rgb(9, 122, 175);
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: rgb(9, 122, 175);
  }
  59% {
    background-color: white;
    background-position: 0% 0%;
  }
  60% {
    background-color: rgb(9, 122, 175);
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: rgb(9, 122, 175);
  }
  90%,
  100% {
    background-color: white;
  }
}
@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  15%,
  19% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  28%,
  29.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  45%,
  49% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  58%,
  59.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  75%,
  79% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  88%,
  100% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
}
@keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(8px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes nudgeText {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(2px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes colorText {
  21% {
    color: rgb(9, 122, 175);
  }
  30% {
    color: white;
  }
  51% {
    color: rgb(9, 122, 175);
  }
  60% {
    color: white;
  }
  81% {
    color: rgb(9, 122, 175);
  }
  90% {
    color: white;
  }
}

/* RAINBOW TEXT */

.rainbow-text {
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #ca4246;
  background-color: #ca4246;
  background: conic-gradient(
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );

  background-size: 57%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-text-animation-rev 0.5s ease forwards;
  cursor: pointer;
}

.rainbow-text:hover {
  animation: rainbow-text-animation 0.5s ease forwards;
}

@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}

/* ---------------------------ABOUT ME SECTION-------------------------- */
/* ---------------------------ABOUT ME SECTION-------------------------- */
/* ---------------------------ABOUT ME SECTION-------------------------- */
/* ---------------------------ABOUT ME SECTION-------------------------- */
/* ---------------------------ABOUT ME SECTION-------------------------- */
/* ---------------------------ABOUT ME SECTION-------------------------- */
/* ---------------------------ABOUT ME SECTION-------------------------- */
/* ---------------------------ABOUT ME SECTION-------------------------- */
.title-content {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  line-height: 40px;
}

.title-content__container {
  height: 40px;
}

.blinker {
  color: #16a085;
  margin: 0 0.6rem;
  font-size: 42px;
  line-height: 40px;
  animation-name: title-opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.title-content__container__list {
  animation-name: title-change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes title-opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes title-change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 37%, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, 12%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -13%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -38%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -13%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, 12%, 0);
  }
}

.avatar-image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* •·•·•·•·•·•·•·•·•·•·•MY STORY ANIMATION·•·•·•·•·•·•·•·•·•·•·•·•·•· */

.reveal-text {
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-duration: 800ms;
  animation: clip-text 2s cubic-bezier(0, 0, 0.2, 1) 2s 1 normal both;
}
.reveal-text::after {
  background-color: #f2f98b;
  transform: scaleX(0);
  transform-origin: 0 50%;
  animation: text-revealer 2s cubic-bezier(0, 0, 0.2, 1) 2s 1 normal both;
}
@keyframes clip-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes text-revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

.fade-in-text {
  animation: fade-in 1.25s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}

/* FUN FACTS */
.col {
  width: calc(25% - 2rem);
}

.container {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.front,
.back {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  min-height: 200px;
}

.front:after {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.521);
  backface-visibility: hidden;
}
.container:hover .front,
.container:hover .back {
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.inner {
  perspective: inherit;
  z-index: 2;
}

.container .back {
  transform: rotateY(180deg);
}

.container .front {
  transform: rotateY(0deg);
}

.container:hover .back {
  transform: rotateY(0deg);
}

.container:hover .front {
  transform: rotateY(-180deg);
}

.front .inner p {
  margin-bottom: 2rem;
}

.front .inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  background: #c6d4df;
  margin: 0 auto;
  bottom: -0.75rem;
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

/* ---------------------------SKILLS SECTION-------------------------- */
/* ---------------------------SKILLS SECTION-------------------------- */
/* ---------------------------SKILLS SECTION-------------------------- */
/* ---------------------------SKILLS SECTION-------------------------- */
/* ---------------------------SKILLS SECTION-------------------------- */
/* ---------------------------SKILLS SECTION-------------------------- */
.skill-card {
  backdrop-filter: blur(10px) saturate(150%);
}
.skill-card:hover {
  backdrop-filter: blur(3px) saturate(400%);
  transition: all 0.6s;
}
.blurred {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.3);
}

.skill-card {
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  border-left: 2px solid rgba(255, 255, 255, 0.4);
  border-right: 3px solid rgba(255, 255, 255, 0.32);
  border-bottom: 3px solid rgba(255, 255, 255, 0.32);
  border-radius: 15px;
  background: linear-gradient(
    135deg,
    transparent 0%,
    transparent 8%,
    rgba(255, 255, 255, 0.03) 30%,
    rgba(255, 255, 255, 0.03) 60%,
    rgba(255, 255, 255, 0) 68%
  );
}

/* ABILITIES */
.ability-card {
  background-color: #fff;
  padding: 2rem 2rem;
  border-radius: 50px;
  box-shadow: inset 12px 12px 24px #ffffffc9, inset -12px -12px 24px #e6dee9,
    24px 24px 48px #78787847;
}

/* MAIN PROJECTS */
.main-project-container {
  background-color: rgb(192, 242, 255);
  box-shadow: inset 12px 12px 24px rgb(192, 242, 255),
    inset -12px -12px 24px rgb(128, 208, 228), 24px 24px 48px #78787847;
}
/* ---------------------------PROJECTS SECTION-------------------------- */
/* ---------------------------PROJECTS SECTION-------------------------- */
/* ---------------------------PROJECTS SECTION-------------------------- */
/* ---------------------------PROJECTS SECTION-------------------------- */
/* ---------------------------PROJECTS SECTION-------------------------- */
/* ---------------------------PROJECTS SECTION-------------------------- */
/* ---------------------------PROJECTS SECTION-------------------------- */
/* MY PROJECTS TITLE */
.my-projects-title {
  font-size: 10rem;
  letter-spacing: 0.15rem;
  margin-top: 5%;
  font-weight: 600;
}

.my-projects-title text {
  fill: #111;
  stroke: #111;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 3s ease-out;
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }
  25% {
    stroke-width: 3px;
  }
  50% {
    fill-opacity: 0;
  }
  75% {
    stroke-width: 3px;
  }
  100% {
    stroke-width: 0;
  }
}

/* FRONT END PROJECTS */
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

.panels-container {
  max-width: 100%;
  height: 400px;
  overflow: hidden;
}

.panel {
  min-width: 60px;
  background-size: auto 120%;
  flex-grow: 1;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.label {
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  bottom: 10px;
  left: 10px;
}
.label .info > div {
  left: 20px;
}
.icon {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
}

.info > div {
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

.info .panel-description {
  transition-delay: 0.1s;
}
.panel .shadow {
  left: -20px;
  height: 100px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
.panel.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black,
    inset 0 -120px 120px -100px black;
}

.panel.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 10px;
  border-radius: 40px;
  background-size: auto 100%;
}
.panel.active .label {
  bottom: 20px;
  left: 20px;
}
.panel.active .label .info > div {
  left: 0px;
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4) {
    display: none;
  }

  .panel:nth-of-type(5) {
    display: none;
  }
}

/* ---------------------------CONTACT SECTION-------------------------- */
/* ---------------------------CONTACT SECTION-------------------------- */
/* ---------------------------CONTACT SECTION-------------------------- */
/* ---------------------------CONTACT SECTION-------------------------- */
/* ---------------------------CONTACT SECTION-------------------------- */
/* ---------------------------CONTACT SECTION-------------------------- */
/* Get in touch animation */
.contact-svg {
  font: 20em inherit;
  letter-spacing: 0.15em;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

.contact-svg text {
  fill: #111;
  stroke: #111;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 3s ease-out;
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }
  25% {
    stroke-width: 3px;
  }
  50% {
    fill-opacity: 0;
  }
  75% {
    stroke-width: 3px;
  }
  100% {
    stroke-width: 0;
  }
}
