@font-face {
  font-family: "gr";
  src: url("/fonts/GraphikBlack.otf") format("opentype"),
    url("/fonts/GraphikBlackItalic.otf") format("opentype");
}
@font-face {
  font-family: "gr";
  src: url("/fonts/GraphikBold.otf") format("opentype"),
    url("/fonts/GraphikBoldItalic.otf") format("opentype");
  font-weight: 800; /* 700 */
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "gr";
  src: url("/fonts/GraphikSemibold.otf") format("opentype"),
    url("/fonts/GraphikSemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "gr";
  src: url("/fonts/GraphikMedium.otf") format("opentype"),
    url("/fonts/GraphikMediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "gr";
  src: url("/fonts/GraphikRegular.otf") format("opentype"),
    url("/fonts/GraphikRegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "gr";
  src: url("/fonts/GraphikLight.otf") format("opentype"),
    url("/fonts/GraphikLightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "gr";
  src: url("/fonts/GraphikExtralight.otf") format("opentype"),
    url("/fonts/GraphikExtralightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "gr";
  src: url("/fonts/GraphikThin.otf") format("opentype"),
    url("/fonts/GraphikThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}

/* 
a.button {
  color: #333;
  font-size: 16px;
  background: transparent;
  padding: 8px 12px 6px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: all ease-out 0.1s;
}
@media (min-width: 768px) {
  a.button span {
    transform: translate3d(12px, 0, 0);
    transition: all ease-out 0.1s;
  }
}
a.button svg {
  margin-left: 6px;
}
@media (min-width: 768px) {
  a.button svg {
    transform: translate3d(-5px, 0, 0);
    opacity: 0;
    transition: all ease-out 0.1s;
  }
}
a.button:hover {
  border-color: rgba(0, 0, 0, 0.5);
  padding-left: 18px;
  padding-right: 16px;
} */

/* ---------------------------GLOBAL BASE-------------------------- */
/* ---------------------------GLOBAL BASE-------------------------- */
/* ---------------------------GLOBAL BASE-------------------------- */
/* ---------------------------GLOBAL BASE-------------------------- */
/* ---------------------------GLOBAL BASE-------------------------- */
/* ---------------------------GLOBAL BASE-------------------------- */
body {
  font-size: 62.5%;
  background-color: var(--background-color);
  overflow-x: hidden;
  width: 100%;
  font-family: "gr", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; */
}

/* NAVBAR LOGO */
.letter {
  transition: 250ms ease;
}

.enter {
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.letter:hover {
  color: hsl(160, 70%, 50%);
  animation: jello-horizontal 0.9s forwards;
  width: 200vw;
}

body {
  margin: 0;
  padding: 0;
}

#stripes {
  width: 100%;
  height: 70%;
  overflow: hidden;
  transform-origin: 0;
  transform: skewY(-12deg);
  background: -webkit-linear-gradient(
    300deg,
    #53f 15%,
    #05d5ff 70%,
    #a6ffcb 94%
  );
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
}

#stripes,
#stripes span {
  position: absolute;
}

#stripes span {
  height: 40px;
}

#stripes :nth-child(1) {
  width: 50%;
  left: 50%;
  top: 40px;
  background: #4c29ff;
}

#stripes :nth-child(2) {
  width: 14%;
  right: 0;
  bottom: 40px;
  background: #2be7ff;
}

#stripes :nth-child(3) {
  width: 25%;
  bottom: 0;
  right: 0;
  background: #a1ffc8;
}

@media (min-width: 670px) {
  #stripes span {
    height: 150px;
  }
  #stripes :nth-child(1) {
    top: 0;
  }
  #stripes :nth-child(2) {
    width: 16.66667%;
    top: 300px;
    bottom: auto;
    background: #0dcfff;
  }
  #stripes :nth-child(3) {
    width: 33.33333%;
    right: auto;
    background: #11bdff;
  }
}

@media (min-width: 880px) {
  #stripes span {
    height: 190px;
  }

  #stripes :nth-child(1) {
    width: 33.33333%;
    left: -16.66666%;
    background: #53f;
  }

  #stripes :nth-child(2) {
    width: 33.33333%;
    top: 0;
    left: 16.66666%;
    right: auto;
    background: #4553ff;
  }

  #stripes :nth-child(3) {
    width: 33.33333%;
    left: 49.99999%;
    bottom: auto;
    background: #4f40ff;
  }

  #stripes :nth-child(4) {
    width: 33.33333%;
    top: 380px;
    right: -16.66666%;
    background: #25ddf5;
  }

  #stripes :nth-child(5) {
    width: 33.33333%;
    bottom: 0;
    background: #1fa2ff;
  }
}
.nav-bar-wrapper {
  background: linear-gradient(90deg, #ffeec4 0%, #95ffd3 100%);
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.blog-button {
  background: rgba(255, 255, 255, 0.541);
  text-decoration: none;
  transition: all 250ms ease;
  box-shadow: 0 0 0 1px rgba(97, 75, 75, 0.1);
  letter-spacing: 2px;
}
.blog-button:hover:after {
  animation-name: bgin;
  transform: skew(-45deg) translate(-50%);
}
.blog-button:after {
  content: "";
  z-index: -1;
  width: 150%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  animation-name: bgout;
  animation-duration: 400ms;
  transform: skew(-45deg) translate(-150%);
}
.blog-button:hover {
  color: #0dc588;
  box-shadow: 0 27px 55px rgba(0, 0, 0, 0.3), 0 17px 17px rgba(0, 0, 0, 0.15),
    0 0 0 1px rgba(0, 0, 0, 0);
}

@keyframes bgin {
  from {
    transform: skew(-45deg) translate(-150%);
  }
  to {
    transform: skew(-45deg) translate(-50%);
  }
}
@keyframes bgout {
  from {
    transform: skew(-45deg) translate(-50%);
  }
  to {
    transform: skew(-45deg) translate(50%);
  }
}

.blob-bg {
  z-index: -10;
  background-image: url("/bg.jpeg");
  background-size: cover;
  background-position: -10%;
  height: 800px;
}
