.skill-card {
  backdrop-filter: blur(10px) saturate(150%);
}
.skill-card:hover {
  backdrop-filter: blur(3px) saturate(400%);
  transition: all 0.6s;
}
.blurred {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.3);
}

.skill-card {
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  border-left: 2px solid rgba(255, 255, 255, 0.4);
  border-right: 3px solid rgba(255, 255, 255, 0.32);
  border-bottom: 3px solid rgba(255, 255, 255, 0.32);
  border-radius: 15px;
  background: linear-gradient(
    135deg,
    transparent 0%,
    transparent 8%,
    rgba(255, 255, 255, 0.03) 30%,
    rgba(255, 255, 255, 0.03) 60%,
    rgba(255, 255, 255, 0) 68%
  );
}

/* FRONT END PROJECTS */
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

.panels-container {
  max-width: 100%;
  height: 400px;
  overflow: hidden;
}

.panel {
  min-width: 60px;
  background-size: auto 120%;
  flex-grow: 1;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.label {
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  bottom: 10px;
  left: 10px;
}
.label .info > div {
  left: 20px;
}
.icon {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
}

.info > div {
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

.info .panel-description {
  transition-delay: 0.1s;
}
.panel .shadow {
  left: -20px;
  height: 100px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
.panel.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black,
    inset 0 -120px 120px -100px black;
}

.panel.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 10px;
  border-radius: 40px;
  background-size: auto 100%;
}
.panel.active .label {
  bottom: 20px;
  left: 20px;
}
.panel.active .label .info > div {
  left: 0px;
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4) {
    display: none;
  }

  .panel:nth-of-type(5) {
    display: none;
  }
}

/* ABILITIES */
.ability-card {
  background-color: #fff;
  padding: 2rem 2rem;
  border-radius: 50px;
  box-shadow: inset 12px 12px 24px #ffffffc9, inset -12px -12px 24px #e6dee9,
    24px 24px 48px #78787847;
}

/* MAIN PROJECTS */
.main-project-container {
  background-color: rgb(192, 242, 255);
  box-shadow: inset 12px 12px 24px rgb(192, 242, 255),
    inset -12px -12px 24px rgb(128, 208, 228), 24px 24px 48px #78787847;
}

/* OTHER PROJECTS */
others-wrapper {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
.slider-wrapper div {
  position: relative;
}
.slider-wrapper {
  margin-top: 5vw;
  margin-left: 11vw;
}
.slide-image {
  height: 24vw;
}
.slide-image img {
  width: 24vw;
  cursor: pointer;
}
.slide-content {
  width: 25vw;
  color: #fff;
  padding: 3vw 18vw 3vw 9vw;
}
.slide-date {
  color: #0a8acb;
  font-size: 1.1vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
  padding-bottom: 1.4vw;
}
.slide-title {
  font-size: 1.2vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
  line-height: 1.55vw;
  padding-bottom: 1.8vw;
}
.slide-text {
  font-size: 0.8vw;
  line-height: 1.2vw;
  opacity: 0.8;
  padding-bottom: 4vw;
}
.slide-more {
  font-weight: 400;
  letter-spacing: 0.1vw;
  float: left;
  font-size: 0.9vw;
}
.slide-bullet {
  width: 0.5vw;
  height: 0.5vw;
  background-color: #0b8bcc;
  border-radius: 200%;
  position: relative;
  margin-left: 1.2vw;
}
.slide-nav {
  margin-left: 64vw;
  margin-top: -5.5vw;
}

div.overlay-blue {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: 0.5s ease all;
}
div.overlay-blue:hover {
  background-color: rgba(13, 27, 43, 0.5);
}

.arrows {
  width: 3.5vw;
  margin-top: -5.8vw;
  margin-left: 72vw;
  position: relative;
}
.arrow {
  display: inline-block;
  position: absolute;
  width: 1.2vw;
  height: 1.2vw;
  background: transparent;
  text-indent: -9999px;
  border-top: 0.15vw solid #fff;
  border-left: 0.15vw solid #fff;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  color: transparent;
}
.arrow:hover {
  border-color: #0a8acb;
  border-width: 0.25vw;
}
.arrow:before {
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  content: "";
  transform: rotate(45deg);
}
.arrow.prev {
  transform: rotate(-45deg);
  left: 0;
}
.arrow.next {
  transform: rotate(135deg);
  right: 0;
}
