@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* RESUME BUTTON */
  --resume-btn-text: white;
  --resume-btn-text-hover: black;
  --resume-btn-border: white;
  --resume-btn-bg: rgb(255, 255, 255);
  /* ABOUT ME */
  --aboutme-text: white;
}
.dark-theme-blog {
  --background-color: #212529 !important;
}
.light-theme-blog {
  --background-color: linear-gradient(
    318.32deg,
    #c3d1e4 0%,
    #dde7f3 55%,
    #d4e0ed 100%
  ) !important;
}

.dark-theme {
  /* BASIC */
  --background-color: rgba(30, 33, 48, 1);
  --text-large-color: #7bf0ff;
  --text-small-color: #ffffff;
  --sub-text-color: rgb(148 163 184);
  /* GRADIENT HEADER */
  --nav-color-main: linear-gradient(
    150deg,
    rgb(22, 2, 124) 15%,
    #04accee3 70%,
    #669b7c 94%
  );
  --nav-first-child: #3b1ae0;
  --nav-second-child: #2be6ffd0;
  --nav-third-child: #70b18bb0;
  --nav-media-670-second-child: #0ebae6c9;
  --nav-media-670-third-child: #1295c983;
  --nav-media-880-first-child: rgba(36, 8, 175, 0.705);
  --nav-media-880-second-child: #1b29cab2;
  --nav-media-880-third-child: #3326ca8e;
  --nav-media-880-fourth-child: #2799ad;
  --nav-media-880-fifth-child: #06479c;
  /* DESKTOP NAV */
  --nav-link-hover: rgb(255, 255, 255);
  --nav-link: #e9ecef;
  /* MOBILE NAV */
  --mobile-nav-icon: rgb(0, 20, 22);
  --mobile-nav-icon-close: rgba(255, 255, 255, 0.836);
  --mobile-nav-bg: rgba(1, 1, 3, 0.836);
  --mobile-hover-text: rgb(255, 255, 255);
  --mobile-text: rgb(65, 211, 255);
  --mobile-hover-bg: rgba(34, 103, 194, 0.712);
  /* ABOUT ME */
  --alissa: #6ff3a6;
  --blinker: #6ff3a6;
  --myself-card-bg: rgba(0, 0, 0, 0.2);
  --myself-card-border: rgba(0, 0, 0, 0.247);
  --myself-card-shadow: rgba(189, 189, 189, 0.1);
  /* FUN FACTS */
  --card-container-bg: rgba(30, 33, 48, 1);
  --card-shadow: 0px 5px 15px rgba(59, 59, 59, 0.411);
  --card-back-bg: rgba(119, 119, 119, 0.25);
  /* SKILLS */
  --skill-border: 1px solid rgba(34, 34, 34, 0.082);
  --skill-shadow: 0 15px 35px rgba(167, 167, 167, 0.171);
  --skill-bg: rgba(0, 0, 0, 0.274);
  --ability-bg: rgba(0, 0, 0, 0.377);
  --ability-bg-hover: rgba(0, 0, 0, 0.274);
  --ability-border: 1px solid rgba(43, 43, 43, 0.125);
  --ability-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  /* PROJECTS */
  --project-text-color: #fff;
  --project-sub-text: rgba(255, 242, 242, 0.808);
  --project-arrow: rgb(156 163 175);
  --external-btn-border: rgba(255, 255, 255, 0.3);
  --recent-project-bg: rgba(30, 33, 48, 1);
  --recent-project-shadow: #3f3f46;
  --recent-project-bg-hover: rgb(40, 44, 65);
  --other-project-border: rgba(145, 145, 145, 0.192);
  /* CONTACT */
  --form-bg: linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
  --form-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  --form-border: 1px solid rgba(255, 255, 255, 0.18);
  --input-shadow: 4px 4px 60px rgba(255, 255, 255, 0.2);
  --input-text: rgb(206, 206, 206);
  --label-text: white;
  --send-btn: rgb(36, 94, 219);
  --send-btn-hover: rgb(20, 83, 219);
  /* SOCIAL MEDIAS */
  --sm-icon-bg: rgba(30, 33, 48, 1);
  --sm-icon: white;
  /* DECORATION */
  --globe-stroke: white;
  --elc-text: white;
}

.light-theme {
  --background-color: white;
  --text-large-color: rgb(0, 0, 0);
  --text-small-color: rgb(0, 0, 0);
  --sub-text-color: rgb(83, 84, 85);
  /* GRADIENT HEADER */
  --nav-color-main: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  --nav-first-child: #4c29ff;
  --nav-second-child: #2be7ff;
  --nav-third-child: #a1ffc8;
  --nav-media-670-second-child: #0dcfff;
  --nav-media-670-third-child: #11bdff;
  --nav-media-880-first-child: #53f;
  --nav-media-880-second-child: #4553ff;
  --nav-media-880-third-child: #4f40ff;
  --nav-media-880-fourth-child: #25ddf5;
  --nav-media-880-fifth-child: #1fa2ff;
  /* DESKTOP NAV */
  --nav-link-hover: rgb(132, 255, 116);
  --nav-link: white;
  /* MOBILE NAV */
  --mobile-nav-icon: white;
  --mobile-nav-icon-close: white;
  --mobile-nav-bg: rgba(13, 151, 243, 0.849);
  --mobile-hover-text: rgb(0, 0, 0);
  --mobile-text: rgb(255, 255, 255);
  --mobile-hover-bg: rgba(255, 255, 255, 0.829);
  /* ABOUT ME */
  --alissa: #8affad;
  --blinker: #8affad;
  --myself-card-bg: rgba(255, 255, 255, 0.375);
  --myself-card-border: rgba(255, 255, 255, 0.25);
  --myself-card-shadow: rgba(0, 0, 0, 0.1);
  /* FUN FACTS */
  --card-container-bg: rgba(255, 255, 255, 0.25);
  --card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  --card-back-bg: rgba(255, 255, 255, 0.25);
  /* SKILLS */
  --skill-border: 1px solid rgba(255, 255, 255, 0.2);
  --skill-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --skill-bg: rgba(255, 255, 255, 0.527);
  --ability-bg: rgba(255, 255, 255, 0.375);
  --ability-bg-hover: rgba(255, 255, 255, 0.767);
  --ability-border: 1px solid rgba(41, 41, 41, 0.041);
  --ability-shadow: 0 0.75rem 2rem 0 rgba(114, 114, 114, 0.1);
  /* PROJECTS */
  --project-text-color: #000;
  --project-sub-text: rgb(55 65 81);
  --project-arrow: rgb(156 163 175);
  --external-btn-border: rgba(0, 0, 0, 0.3);
  --recent-project-bg: white;
  --recent-project-bg-hover: rgb(211, 230, 255);
  --recent-project-shadow: rgb(0 0 0 / 0.1);
  --other-project-border: #eee;
  /* CONTACT */
  --form-bg: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.4)
  );
  --form-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  --form-border: 1px solid rgba(255, 255, 255, 0.18);
  --input-shadow: 4px 4px 60px rgba(255, 255, 255, 0.2);
  --input-text: rgb(43, 43, 43);
  --label-text: black;
  --send-btn: rgb(36, 94, 219);
  --send-btn-hover: rgb(20, 83, 219);
  /* SOCIAL MEDIAS */
  --sm-icon-bg: white;
  --sm-icon: black;
  /* DECORATION */
  --globe-stroke: black;
  --elc-text: black;
}
