@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex items-center justify-center
  }
  .copy-url-button {
    @apply bg-white rounded-lg text-sm absolute hover:outline-2 outline-none hover:outline-amber-300 focus:outline-2 focus:outline-amber-300 p-2 z-40
  }
  .BlogPage__Header__Wrapper {
    @apply mb-16 xl:mb-20 flex custom2:grid custom2:grid-cols-4 text-blog-lgText
  }
  .SearchBar__Input, .SubscribeEmail__Input {
    @apply focus:ring-transparent bg-transparent focus:outline-none active:ring-transparent block w-full pl-7 focus:appearance-none pr-12 text-lg border-blog-border rounded-md
  }
  .SearchBar__InputWrapper  {
    @apply mt-1 relative flex flex-row h-16 rounded-2xl border shadow-sm border-blog-border items-center px-3 max-w-lg
  }
  .SubscribeEmail__InputWrapper {
    @apply mt-1 relative flex flex-row h-12 rounded-2xl border shadow-sm border-blog-border items-center px-3 max-w-lg
  }
  .SearchBar__Icon {
    @apply absolute inset-y-0 right-10 pl-3 flex items-center pointer-events-none
  }
  .Card__Container {
    @apply relative bg-white flex flex-col content-between rounded-lg h-full shadow-lg custom2:hover:scale-105 duration-200
  }
  .Card__Date__Wrapper {
    @apply flex flex-row items-center text-gray-400 translate-x-[-6px] mb-2
  }
}



:root {
  /* ABOUT ME */
  --aboutme-text: white;
  /* AUTHOR SM ICONS */
  --icon: rgb(156 163 175);
  /* TRANSLATION */
  --add-translation-hover: rgb(54, 163, 255);
}
html.dark-theme-blog {
  --background-color: black;
}
html.light-theme-blog {
  --background-color: linear-gradient(
    318.32deg,
    #c3d1e4 0%,
    #dde7f3 55%,
    #d4e0ed 100%
  );
}

.dark-theme {
  --base00: #16181a; 
  --base01: rgb(212, 212, 212);
  --base02: rgba(61, 66, 66, 0.596);
  --base03: rgb(169, 173, 193);
  
  /* BASIC */
  --background-color: black;
  --text-large-color: #7bf0ff;
  --text-small-color: #ffffff;
  --sub-text-color: rgb(148 163 184);
 ;  /* RESUME BUTTON */
 --resume-btn-text: white;
 --resume-btn-text-hover: black;
 --resume-btn-border: white;
 --resume-btn-bg: rgb(255, 255, 255);
  /* DESKTOP NAV */
  --nav-link-active: #ffffff;
  /* MOBILE NAV */
  --mobile-nav-icon: rgb(0, 20, 22);
  --mobile-nav-icon-close: rgba(255, 255, 255, 0.836);
  --mobile-nav-bg: #212529;
  --mobile-hover-text: white;
  --mobile-text: rgb(173, 173, 173);
  --mobile-hover-bg: #16191b;
  --mobile-border: rgb(58, 66, 77);
  /* ABOUT ME */
  --alissa: #6ff3a6;
  --blinker: #6ff3a6;
  --myself-card-bg: rgba(0, 0, 0, 0.2);
  --myself-card-border: rgba(0, 0, 0, 0.247);
  --myself-card-shadow: rgba(189, 189, 189, 0.1);
  /* SKILLS */
  --skill-border: 1px solid rgba(34, 34, 34, 0.082);
  --skill-shadow: 0 15px 35px rgba(167, 167, 167, 0.171);
  --skill-bg: rgba(0, 0, 0, 0.274);
  --ability-bg: rgba(0, 0, 0, 0.377);
  --ability-bg-hover: rgba(0, 0, 0, 0.274);
  --ability-border: 1px solid rgba(43, 43, 43, 0.125);
  --ability-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  /* PROJECTS */
  --project-sub-text: rgba(255, 242, 242, 0.808);
  --project-arrow: rgb(156 163 175);
  --external-btn-border: rgba(255, 255, 255, 0.3);
  --recent-project-bg: rgba(30, 33, 48, .5);
  --recent-project-bg-hover: rgb(40, 44, 65);
  --other-project-border: rgba(145, 145, 145, 0.192);
  /* CONTACT */
  --form-bg: linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
  --form-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  --form-border: 1px solid rgba(255, 255, 255, 0.18);
  --input-border: none;
  --input-shadow: 4px 4px 60px rgba(255, 255, 255, 0.2);
  --input-text: rgb(206, 206, 206);
  --label-text: white;
  --button-border: rgb(255, 255, 255);
  --button-bg-hover: rgba(255, 255, 255, 0.239);
  /* SOCIAL MEDIAS */
  --sm-icon-bg: rgba(30, 33, 48, 1);
  /* DECORATION */
  --globe-stroke: white;
  --elc-text: white;
  /* BLOG PAGE */
  --blog-card-border: rgba(182, 182, 182, 0.709);
  --blog-card-border-hover: rgb(255, 255, 255);
  --blog-lg-text: white;
  --blog-input-border: rgb(60, 68, 80);
  --tag-btn-bg: #323a42;
  --tag-btn-shadow: rgb(31, 32, 40) 0px 0px 0px 4px,
    rgb(255, 214, 68) 0px 0px 0px 6px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  /* BLOG POST */
  --text-body: rgb(156 163 175);
  --text-body-lg: #fff;
  --hyperlink: #00f7fd;
  --hyperlink-hover: #5dc8fd;
  --quote: #ffc4ff;
  --quote-author: #b3b3b3;
  --inline-code-bg: rgba(88, 175, 197, 0.692);
  --inline-code: rgb(245, 245, 245);
  --floating-header-bg: #181b1fef;
  --floating-header-border: rgba(255, 255, 255, 0.06);
  --floating-header-title: #d4d1d1;
  /* AUTHOR */
  --icon-hover: white;
  /* RELATED BLOG POST */
  --related-post-shadow: #172029 0px 0px 0px 3px,
    rgb(15, 157, 252) 0px 0px 0px 7px, #172029 0px 0px 0px 0px;
  /* HIGHLIGHTS */
  --blue: #00e5ff;
  --yellow: #ffeb12;
  --green: #00ff77;
  --red: #f95351;
  --orange: #ff8827;
  --pink: #ff92af;
  --purple: #ff97ff;
  /* STICKIES BG COLORS */
  --sticky-yellow-bg: rgb(255, 228, 75, 0.1);
  --sticky-green-bg: rgba(48, 200, 94, 0.1);
  --sticky-orange-bg: rgba(255, 143, 69, 0.1);
  /* STICKIES BORDER COLORS */
  --sticky-yellow-border: rgb(255, 223, 43);
  --sticky-green-border: rgba(48, 200, 94, 1);
  --sticky-orange-border: rgba(255, 143, 69, 1);
  /* TABLE */
  --table-first-color: #61a0bd;
  --table-second-color: #FB667A;
  --table-third-color:#1F2739;
  --odd-row: #323C50;
  --even-row: #2C3446;
  --table-hover: #464A52;
  /* TRANSLATION */
  --translation-button: rgb(31, 32, 40) 0px 0px 0px 4px, rgb(54, 163, 255) 0px 0px 0px 6px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --add-translation: #a9adc1;
}

.light-theme {
  --base00: #f3f3f3;
  --base01: rgb(90, 96, 100);
  --base02: rgba(200, 221, 221, 0.664);
  --base03: rgb(152, 159, 177);
  /* BASIC */
  --background-color: #f3f3f3f8;
  --text-large-color: rgb(0, 0, 0);
  --text-small-color: rgb(0, 0, 0);
  --sub-text-color: rgb(83, 84, 85);
    /* RESUME BUTTON */
    --resume-btn-text: black;
    --resume-btn-text-hover: white;
    --resume-btn-border: black;
    --resume-btn-bg: rgb(2, 2, 2);
  /* DESKTOP NAV */
  --nav-link-active: black;
  /* MOBILE NAV */
  --mobile-nav-icon: white;
  --mobile-nav-icon-close: white;
  --mobile-nav-bg: white;
  --mobile-hover-text: rgb(0, 0, 0);
  --mobile-text: rgb(102, 102, 102);
  --mobile-hover-bg: rgba(189, 189, 189, 0.829);
  --mobile-border: rgb(229 231 235);
  /* ABOUT ME */
  --alissa: oklch(64% 0.1678 169.41);
  --blinker: oklch(64% 0.1678 169.41);
  --myself-card-bg: rgba(255, 255, 255, 0.375);
  --myself-card-border: rgba(255, 255, 255, 0.25);
  --myself-card-shadow: rgba(0, 0, 0, 0.1);
  /* SKILLS */
  --skill-border: 1px solid rgba(255, 255, 255, 0.2);
  --skill-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --skill-bg: rgba(255, 255, 255, 0.527);
  --ability-bg: rgba(255, 255, 255, 0.375);
  --ability-bg-hover: rgba(255, 255, 255, 0.767);
  --ability-border: 1px solid rgba(41, 41, 41, 0.041);
  --ability-shadow: 0 0.75rem 2rem 0 rgba(114, 114, 114, 0.1);
  /* PROJECTS */
  --project-sub-text: rgb(55 65 81);
  --project-arrow: rgb(156 163 175);
  --external-btn-border: rgba(0, 0, 0, 0.3);
  --recent-project-bg: rgba(226, 226, 226, 0.2);
  --recent-project-bg-hover: rgb(211, 230, 255);
  --other-project-border: #eee;
  /* CONTACT */
  --form-bg: rgba(255, 255, 255, .375);
  --form-shadow: 0 .75rem 2rem 0 rgba(114, 114, 114, .1);
  --form-border: 1px solid rgba(41, 18, 18, 0.18);
  --input-border: solid 1px rgba(41, 18, 18, 0.18);
  --input-shadow: 4px 4px 60px rgba(255, 255, 255, 0.2);
  --input-text: rgb(43, 43, 43);
  --label-text: black;
  --button-border: rgba(41, 18, 18, 0.18);
  --button-bg-hover: rgba(41, 18, 18, 0.099);
  /* SOCIAL MEDIAS */
  --sm-icon-bg: white;
  /* DECORATION */
  --globe-stroke: black;
  --elc-text: black;
  /* BLOG PAGE */
  --blog-card-border: rgba(187, 230, 255, 0.88);
  --blog-card-border-hover: rgb(100, 214, 255);
  --blog-lg-text: black;
  --blog-input-border: rgb(229 231 235);
  --tag-btn-bg: #eeeeee;
  --tag-btn-shadow: rgb(255, 255, 255) 0px 0px 0px 4px,
    rgb(160, 134, 0) 0px 0px 0px 6px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  /* BLOG POST */
  --text-body: rgb(107 114 128);
  --text-body-lg: #000;
  --hyperlink: #004cda;
  --hyperlink-hover: #0099ff;
  --quote: #911bff;
  --quote-author: #847a8e;
  --inline-code-bg: #e5eff5;
  --inline-code: rgb(41, 41, 41);
  --floating-header-bg: hsla(0, 0%, 100%, 0.95);
  --floating-header-border: rgba(0, 0, 0, 0.06);
  --floating-header-title: #2e2e2e;
  /* AUTHOR */
  --icon-hover: black;
  /* RELATED BLOG POST */
  --related-post-shadow: white 0px 0px 0px 3px,
    rgb(15, 157, 252) 0px 0px 0px 7px, white 0px 0px 0px 0px;
  /* HIGHLIGHTS */
  --blue: #d8ffff;
  --yellow: #ffff7b;
  --green: #9effb0;
  --red: #ffbebe;
  --orange: #fdceb2;
  --pink: #ffc2ee;
  --purple: #edc2ff;
  /* STICKIES BG COLORS */
  --sticky-yellow-bg: rgb(255, 217, 0, 0.1);
  --sticky-green-bg: rgba(48, 200, 94, 0.1);
  --sticky-orange-bg: rgb(255, 121, 32, 0.1);
  /* STICKIES BORDER COLORS */
  --sticky-yellow-border: rgb(209, 160, 0);
  --sticky-green-border: rgb(12, 182, 63);
  --sticky-orange-border: rgb(255, 121, 32);
  /* TABLE */
  --table-first-color: #000000;
  --table-second-color: #b82f42;
  --table-third-color:#bbcdd3ad;
  --odd-row: #dfe7eb8a;
  --even-row: #c8cfd38a;
  --table-hover: #cbd1df;
  /* TRANSLATION */
  --translation-button: rgb(255, 255, 255) 0px 0px 0px 4px, rgb(54, 163, 255) 0px 0px 0px 6px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --add-translation: rgb(83, 86, 97);
}
