/* Error: Undefined mixin.
 *    ,
 * 13 | /   @include dark {
 * 14 | |     background: #232223;
 * 15 | |     color: white;
 * 16 | \   }
 *    '
 *   app/styles/style.scss 13:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 13 \2502  \250c    @include dark {\a 14 \2502  \2502      background: #232223;\a 15 \2502  \2502      color: white;\a 16 \2502  \2514    }\a    \2575 \a   app/styles/style.scss 13:3  root stylesheet";
}
