.use-typewriter-cursor:after {
  content: "";
  animation: blink 0.45s normal 0s infinite, wait 1s normal;
  border-right: 5px solid var(--alissa);
  animation-direction: alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 450px) {
  .use-typewriter-cursor:after {
    border-right: 10px solid var(--alissa);
  }
}
/* ---------------------------ABOUT ME SECTION-------------------------- */
/* ---------------------------ABOUT ME SECTION-------------------------- */
/* ---------------------------ABOUT ME SECTION-------------------------- */
/* ---------------------------ABOUT ME SECTION-------------------------- */
/* ---------------------------ABOUT ME SECTION-------------------------- */
/* ---------------------------ABOUT ME SECTION-------------------------- */
/* ---------------------------ABOUT ME SECTION-------------------------- */
/* ---------------------------ABOUT ME SECTION-------------------------- */

.bio-description {
  animation: slide-in 1.5s ease-in;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(8rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.myself-card {
  display: flex;
  flex-direction: column;
  animation: slide-in-bottom 1.5s ease 3s both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.jinx-img {
  height: 100%;
  bottom: 0;
}

@media screen and (min-width: 600px) {
  .myself-card {
    display: grid;
    flex-direction: 3fr 1fr;
  }
  .jinx-img {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .jinx-img {
    height: 125%;
  }
}
/* Work for screens above 880px */
.title-content {
  font-size: 30px;
  line-height: 40px;
}

.title-content__container {
  height: 40px;
}

.blinker {
  color: #8affad;
  margin: 0 0.6rem;
  font-size: 34px;
  animation-name: title-opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.title-content__container__list {
  animation-name: title-change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes title-opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes title-change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 37%, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, 12%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -13%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -38%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -13%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, 12%, 0);
  }
}

@media screen and (max-width: 875px) {
  .title-content {
    font-size: 22px;
    line-height: 34px;
  }
  .title-content__container {
    height: 34px;
  }
  .blinker {
    font-size: 30px;
  }
}

@media screen and (max-width: 440px) {
  .title-content {
    font-size: 20px;
    line-height: 30px;
  }
  .title-content__container {
    height: 30px;
  }
  .blinker {
    margin: 0 0.6rem;
    font-size: 27px;
  }
}
@media screen and (max-width: 375px) {
  .title-content {
    font-size: 15px;
    line-height: 31px;
  }
  .title-content__container {
    height: 30px;
  }
  .blinker {
    margin: 0 0.5rem 0 0.5rem;
    font-size: 22px;
  }
}

/* AVATAR IMAGE */
.avatar-image {
  outline: 1px solid #fff;
  outline-offset: calc(-10px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.avatar-image.dark {
  filter: brightness(80%);
}

/* •·•·•·•·•·•·•·•·•·•·•MY STORY ANIMATION·•·•·•·•·•·•·•·•·•·•·•·•·•· */
.reveal-text {
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-duration: 800ms;
  animation: clip-text 2s cubic-bezier(0, 0, 0.2, 1) 2s 1 normal both;
}
.reveal-text::after {
  background-color: #f2f98b;
  transform: scaleX(0);
  transform-origin: 0 50%;
  animation: text-revealer 2s cubic-bezier(0, 0, 0.2, 1) 2s 1 normal both;
}
@keyframes clip-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes text-revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}
.fade-in-text {
  animation: fade-in 1.25s ease-in 3s 1 both;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MY HOBBIES */
.myself-card {
  background: var(--myself-card-bg);
  box-shadow: -0.25rem 0.75rem 2rem 0 var(--myself-card-shadow);
  border-radius: 2rem;
  border: 2px solid var(--myself-card-border);
  overflow: visible;
  grid-template-columns: 1fr 200px;
}

/* FUN FACTS */
.wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: between;
  -ms-flex-pack: between;
}
.col {
  width: calc(25% - 2rem);
}

.container {
  background: var(--card-container-bg); /* where to use variable */
  backdrop-filter: blur(4px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  border-radius: 10px;
}

.front,
.back {
  box-shadow: var(--card-shadow);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  min-height: 200px;
}

.front:after {
  background-color: rgb(0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.container:hover .front,
.container:hover .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.container:focus .front,
.container:focus .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.inner {
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.container .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background: var(--card-back-bg);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:focus .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:focus .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  margin-bottom: 2rem;
}

.front .inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  background: #ffffff;
  margin: 0 auto;
  bottom: -0.75rem;
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

.funfacts-animate {
  animation: slide-top 2s ease both;
}

@keyframes slide-top {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}

/* GLOBE */
.globe {
  border: 2px solid var(--globe-stroke);
  margin: auto;
  border-radius: 50%;
  height: 140px;
  align-self: center;
  justify-items: center;
  overflow: hidden;
  width: 140px;
  position: relative;
}
.globe svg {
  animation: rotation 5s linear 0s infinite;
}
.globe svg path {
  stroke: var(--globe-stroke);
}
@keyframes rotation {
  from {
    transform: translateX(0);
  }
  from {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 430px) {
  .globe {
    display: none;
  }
  .jinx-img {
    display: none;
  }
  .Mobile__Facts__Wrapper {
    display: block;
  }
  .FunFacts__Wrapper {
    display: none;
  }
}

/* IPHONE MINI */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .jinx-img {
    display: none;
  }
  .globe {
    display: none;
  }
  .FunFacts__Wrapper {
    display: none;
  }
  .Mobile__Facts__Wrapper {
    display: block;
  }
}

/* IPHONE */
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .jinx-img {
    display: none;
  }
  .globe {
    display: none;
  }
  .FunFacts__Wrapper {
    display: none;
  }
  .Mobile__Facts__Wrapper {
    display: block;
  }
}

/* IPHONE PRO MAX */
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .jinx-img {
    display: none;
  }
  .globe {
    display: none;
  }
  .FunFacts__Wrapper {
    display: none;
  }
  .Mobile__Facts__Wrapper {
    display: block;
  }
}

@media screen and (min-width: 430px) {
  .Mobile__Facts__Wrapper {
    display: none;
  }
}
