@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* ---------------------------PROJECTS SECTION-------------------------- */
/* ---------------------------PROJECTS SECTION-------------------------- */
/* ---------------------------PROJECTS SECTION-------------------------- */
/* ---------------------------PROJECTS SECTION-------------------------- */
/* ---------------------------PROJECTS SECTION-------------------------- */
/* ---------------------------PROJECTS SECTION-------------------------- */
/* ---------------------------PROJECTS SECTION-------------------------- */

/* MY PROJECTS TITLE */
.my-projects-title {
  font-size: 10rem;
  letter-spacing: 0.15rem;
  font-weight: 500;
}

.my-projects-title text {
  fill: var(--text-large-color);
  stroke: var(--text-large-color);
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 3s ease-out;
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }
  25% {
    stroke-width: 3px;
  }
  50% {
    fill-opacity: 0;
  }
  75% {
    stroke-width: 3px;
  }
  100% {
    stroke-width: 0;
  }
}

/* OTHER PROJECTS */
.other-projects-wrapper {
  list-style: none;
  border-top: 1px solid var(--other-project-border);
}
.other-projects-wrapper li {
  padding: 16px 0;
  border-bottom: 1px solid var(--other-project-border);
  display: flex;
  align-items: center;
}

.other-projects-wrapper li img {
  width: 32px;
  margin-right: 16px;
  border-radius: 0;
  vertical-align: middle;
}

/* RECENT PROJECTS */
.gradient-title {
  font-size: 9rem;
  text-align: center;
  line-height: normal;
  overflow: visible;
  font-family: "Pacifico", cursive;
  background-image: linear-gradient(
    90deg,
    rgba(94, 114, 235, 1) 0%,
    rgba(255, 145, 144, 1) 56%,
    rgba(254, 193, 149, 1) 100%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
