.theme-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.2s;
}

.theme-container:hover {
  opacity: 0.8;
}

.shadow-dark {
  box-shadow: 0px 0px 23px #1a1d20, 0px 0px 23px #282d32,
    inset 5px 5px 4px #2e343a, inset -5px -5px 4px #24282c;
}

.shadow-light {
  box-shadow: 0px 0px 15px -10px #bbcfda, 0px 0px 13px #ffffff,
    inset 7px 7px 3px rgba(209, 217, 230, 0.35),
    inset -5px -5px 3px rgba(211, 211, 211, 0.178);
}
