/* ABILITIES FOR SKILLS.TSX */
.ability-card {
  border-radius: 2rem;
  background: var(--ability-bg);
  box-shadow: var(--ability-shadow);
  border: var(--ability-border);
}
.ability-card.show {
  animation: slide-in-blurred-right 1s ease both;
}
.ability-card:after {
  content: "";
  position: absolute;
  left: -1px;
}
.ability-card:hover {
  background: var(--ability-bg-hover);
}

.ability-card:focus {
  background: var(--ability-bg-hover);
}

@keyframes slide-in-blurred-right {
  0% {
    transform: translateX(100px);
    transform-origin: 0% 50%;
    filter: blur(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

/* EDUCATION.TSX */
.line-break-gradient {
  position: relative;
  height: 20px; /* Adjust the height as needed */
}

.line-break-gradient::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px; 
  background-image: var(--gradient-text); 
  transform: translateY(-50%);
}

.line-break {
  position: relative;
}

.line-break::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-image: var(--gradient-text);
  transform: translateY(-50%);
}

.Resume__BigText {
  color: var(--education-title);
}

.Resume__MediumText {
  color: var(--education-year);
}

.Resume__SmallText {
  color: var(--education-description);
}

.underline-animation {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #10b981; /* emerald-500 */
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
}

a:hover .underline-animation {
  transform: scaleX(1);
}

/* SKILL BARS */
.title-skills {
  letter-spacing: 10px;
  transition: all 400ms ease-in-out;
}

.bar-outer {
  height: 1.25rem;
  background: var(--base02);
  border-radius: 0.3em;
}

.bar-inner {
  height: 1.25rem;
  border-radius: 0.3em;
  transition: width 2s cubic-bezier(0.19, 1, 0.22, 1);
  padding-right: 0.5em;
  color: var(text-large-color);
}

.animate  {
  animation: bar-fill 4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}


@keyframes bar-fill {
  0% {
    width: 0;
  }
  100% {
    width: attr(width);
  }
}
.html.w-90 {
  background-image: linear-gradient(45deg, #e22222, #af4261);
}
  
.css.w-75 {
  background-image: linear-gradient(45deg, #ffd42b, #de530e);
}
  
.javascript.w-90 {
    background-image: linear-gradient(45deg, #fa7d6f, #dba504);
  }
  
.react.w-80 {
    background-image: linear-gradient(45deg, #f8a9a2, #ae50e0);
}
  
.typescript.w-70 {
    background-image: linear-gradient(45deg, #f24949, #f45100ac);
}
  
.nodejs.w-65 {
    background-image: linear-gradient(45deg, #ae50e0, #ff95bc);
}
  
.nextjs.w-85 {
    background-image: linear-gradient(45deg, #f67c90, #e4c180);
}