/* ---------------------------CONTACT SECTION-------------------------- */
/* ---------------------------CONTACT SECTION-------------------------- */
/* ---------------------------CONTACT SECTION-------------------------- */
/* ---------------------------CONTACT SECTION-------------------------- */
/* ---------------------------CONTACT SECTION-------------------------- */
/* ---------------------------CONTACT SECTION-------------------------- */

.contact-form-wrapper .user-box input, .contact-form-wrapper .user-box textarea {
  padding: 10px 0;
  color: var(--text-small-color);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--text-small-color);
  outline: none;
  background: transparent;
  }

.contact-form-wrapper .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.contact-form-wrapper .user-box input:focus ~ label,
.contact-form-wrapper .user-box input:valid ~ label,
.contact-form-wrapper .user-box textarea:focus ~ label,
.contact-form-wrapper .user-box textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--text-large-color);
  font-size: 13px;
}
