.underlined {
  position: relative;
}

.underlined:after {
  background-color: currentColor;
  content: "";
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.25s ease;
  transform-origin: left;
  left: 0;
  bottom: -1px;
  width: 100%;
  display: block;
  position: absolute;
}

.underlined:hover:after {
  background-color: currentColor;
  transform: scaleX(1);
}

/* HEADER */
#stripes {
  z-index: -10;
  width: 100%;
  height: 70%;
  overflow: hidden;
  transform-origin: 0;
  transform: skewY(-12deg);
  background: var(--nav-color-main);
}

#stripes,
#stripes span {
  position: absolute;
}

#stripes span {
  height: 40px;
}

#stripes :nth-child(1) {
  width: 50%;
  left: 50%;
  top: 40px;
  background: var(--nav-first-child);
}

#stripes :nth-child(2) {
  width: 14%;
  right: 0;
  bottom: 40px;
  background: var(--nav-second-child);
}

#stripes :nth-child(3) {
  width: 25%;
  bottom: 0;
  right: 0;
  background: var(--nav-third-child);
}

@media screen and (max-width: 1199px) {
  .navbar-logo {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  .navbar-logo {
    display: none;
  }
  .nav-links-wrapper {
    display: none;
  }
}

@media (min-width: 670px) {
  #stripes span {
    height: 150px;
  }
  #stripes :nth-child(1) {
    top: 0;
  }
  #stripes :nth-child(2) {
    width: 16.66667%;
    top: 300px;
    bottom: auto;
    background: var(--nav-media-670-second-child);
  }
  #stripes :nth-child(3) {
    width: 33.33333%;
    right: auto;
    background: var(--nav-media-670-third-child);
  }
}

@media (min-width: 880px) {
  #stripes span {
    height: 190px;
  }

  #stripes :nth-child(1) {
    width: 33.33333%;
    left: -16.66666%;
    background: var(--nav-media-880-first-child);
  }

  #stripes :nth-child(2) {
    width: 33.33333%;
    top: 0;
    left: 16.66666%;
    right: auto;
    background: var(--nav-media-880-second-child);
  }

  #stripes :nth-child(3) {
    width: 33.33333%;
    left: 49.99999%;
    bottom: auto;
    background: var(--nav-media-880-third-child);
  }

  #stripes :nth-child(4) {
    width: 33.33333%;
    top: 380px;
    right: -16.66666%;
    background: var(--nav-media-880-fourth-child);
  }

  #stripes :nth-child(5) {
    width: 33.33333%;
    bottom: 0;
    background: var(--nav-media-880-fifth-child);
  }
}

@media screen and (max-width: 768px) {
  .nav-resume-btn {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  #stripes {
    height: 60%;
  }
}
@media screen and (min-width: 800px) {
  #stripes {
    height: 60%;
  }
}
@media screen and (min-width: 1200px) {
  #stripes {
    height: 65%;
  }
}
@media screen and (min-width: 1800px) {
  #stripes {
    height: 68%;
  }
}
@media screen and (min-width: 2000px) {
  #stripes {
    height: 70%;
  }
}

/* NAV LINK */
.nav-link dark {
  text-shadow: 0 4px 5px rgba(60, 72, 96, 0.5);
}

@media screen and (max-width: 768px) {
  .links-wrapper {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}


/* TODO: Add night mode/day mode to this hamburger menu and please make it look better */
/* RESPONSIVE MENU */

.menu-button {
  position: relative;
}
.menu-button.on span {
  background: transparent;
}
.menu-button.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-button.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
.menu-button.on .menu-button--list {
  opacity: 1;
  color: black;
  z-index: 99999;
}
.menu-button--toggle {
  display: block;
  position: relative;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}
.menu-button--toggle span,
.menu-button--toggle span:before,
.menu-button--toggle span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 5px;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s;
}
.menu-button--toggle span:before {
  top: -9px;
}
.menu-button--toggle span:after {
  top: 9px;
}
.menu-button--toggle span {
  display: block;
  position: relative;
}
.menu-button--list {
  position: absolute;
  width: 200px;
  top: 45px;
  left: 0;
  margin: 0;
  padding: 0;
  display: block;
  background: #fff;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s;
}
.menu-button--list:before {
  position: absolute;
  top: -15px;
  left: 0px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
}
.menu-button--list li {
  display: block;
  width: 100%;
  min-width: 40px;
  padding: 5px 10px;
  text-align: left;
  list-style: none;
  border-bottom: 1px solid #eee;
}
