/* NAV LINK */
.nav-link dark {
  text-shadow: 0 4px 5px rgba(60, 72, 96, 0.5);
}

@media screen and (max-width: 768px) {
  .desktop-navbar {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-navbar-wrapper {
    display: none;
  }
}

.MobileNav__MenuItem {
  backface-visibility: hidden;
  color: var(--mobile-text);
  background-color: var(--mobile-nav-bg);
}

.MobileNav__MenuItem:hover {
  color: var(--mobile-hover-text);
  background-color: var(--mobile-hover-bg);
}

.MobileNav__MenuItem:focus {
  color: var(--mobile-hover-text);
  background-color: var(--mobile-hover-bg);
}

.MenuLists {
  background-color: var(--mobile-nav-bg);
}

/* MOBILE MENU OPENER BUTTON */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 300ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line {
  fill: none;
  transition: stroke-dasharray 300ms, stroke-dashoffset 300ms;
  stroke: currentColor;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 300ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 300ms, stroke-dashoffset 300ms;
}

.hamRotate.active {
  transform: rotate(45deg);
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
