.underlined {
  position: relative;
}

.underlined:after {
  background-color: currentColor;
  content: "";
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.25s ease;
  -webkit-transition: -webkit-transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  -moz-transition: transform 0.25s ease;
  transform-origin: left;
  left: 0;
  bottom: -1px;
  width: 100%;
  display: block;
  position: absolute;
}

.NavLink--is-active-route {
  position: relative;
}

.NavLink--is-active-route:after {
  background-color: currentColor;
  content: "";
  height: 2px;
  transform: scaleX(1);
  transform-origin: left;
  left: 0;
  bottom: -1px;
  width: 100%;
  display: block;
  position: absolute;
}

.underlined:hover:after {
  background-color: currentColor;
  transform: scaleX(1);
}
.underlined:focus:after {
  background-color: currentColor;
  transform: scaleX(1);
}

/* HEADER */
#stripes {
  top: 0;
  z-index: -10;
  width: 100%;
  height: 900px;
  overflow: hidden;
  transform-origin: 0;
  transform: skewY(-12deg);
  background: var(--nav-color-main);
}

#stripes * {
  transition-property: all;
  transition-duration: 0.3s;
}

#stripes,
#stripes span {
  position: absolute;
}

#stripes span {
  height: 40px;
}

#stripes :nth-child(1) {
  width: 50%;
  left: 50%;
  top: 40px;
  background: var(--nav-first-child);
}

#stripes :nth-child(2) {
  width: 14%;
  right: 0;
  bottom: 40px;
  background: var(--nav-second-child);
}

#stripes :nth-child(3) {
  width: 25%;
  bottom: 0;
  right: 0;
  background: var(--nav-third-child);
}

@media (min-width: 670px) {
  #stripes span {
    height: 150px;
  }
  #stripes :nth-child(1) {
    top: 0;
  }
  #stripes :nth-child(2) {
    width: 16.66667%;
    top: 300px;
    bottom: auto;
    background: var(--nav-media-670-second-child);
  }
  #stripes :nth-child(3) {
    width: 33.33333%;
    right: auto;
    background: var(--nav-media-670-third-child);
  }
}

@media (min-width: 880px) {
  #stripes span {
    height: 190px;
  }

  #stripes :nth-child(1) {
    width: 33.33333%;
    left: -16.66666%;
    background: var(--nav-media-880-first-child);
  }

  #stripes :nth-child(2) {
    width: 33.33333%;
    top: 0;
    left: 16.66666%;
    right: auto;
    background: var(--nav-media-880-second-child);
  }

  #stripes :nth-child(3) {
    width: 33.33333%;
    left: 49.99999%;
    bottom: auto;
    background: var(--nav-media-880-third-child);
  }

  #stripes :nth-child(4) {
    width: 33.33333%;
    top: 380px;
    right: -16.66666%;
    background: var(--nav-media-880-fourth-child);
  }

  #stripes :nth-child(5) {
    width: 33.33333%;
    bottom: 0;
    background: var(--nav-media-880-fifth-child);
  }
}

@media screen and (min-width: 390px) {
  #stripes {
    height: 900px;
  }
}

@media screen and (min-width: 420px) {
  #stripes {
    height: 1000px;
  }
}
@media screen and (min-width: 540px) {
  #stripes {
    height: 1200px;
  }
}
@media screen and (min-width: 678px) {
  #stripes {
    height: 750px;
  }
}
@media screen and (min-width: 768px) {
  #stripes {
    height: 800px;
  }
}
@media screen and (min-width: 1050px) {
  #stripes {
    height: 850px;
  }
}
@media screen and (min-width: 1800px) {
  #stripes {
    height: 900px;
  }
}

/* NAV LINK */
.nav-link dark {
  text-shadow: 0 4px 5px rgba(60, 72, 96, 0.5);
}

@media screen and (max-width: 768px) {
  .desktop-navbar {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-navbar-wrapper {
    display: none;
  }
}

.MobileNav__MenuItem {
  backface-visibility: hidden;
  color: var(--mobile-text);
  background-color: var(--mobile-nav-bg);
}

.MobileNav__MenuItem:hover {
  color: var(--mobile-hover-text);
  background-color: var(--mobile-hover-bg);
}

.MobileNav__MenuItem:focus {
  color: var(--mobile-hover-text);
  background-color: var(--mobile-hover-bg);
}

.MenuLists {
  background-color: var(--mobile-nav-bg);
}

/* MOBILE MENU OPENER BUTTON */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 300ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line {
  fill: none;
  transition: stroke-dasharray 300ms, stroke-dashoffset 300ms;
  stroke: currentColor;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 300ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 300ms, stroke-dashoffset 300ms;
}

.hamRotate.active {
  transform: rotate(45deg);
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
