/* ---------------------------SKILLS SECTION-------------------------- */
/* ---------------------------SKILLS SECTION-------------------------- */
/* ---------------------------SKILLS SECTION-------------------------- */
/* ---------------------------SKILLS SECTION-------------------------- */
/* ---------------------------SKILLS SECTION-------------------------- */
/* ---------------------------SKILLS SECTION-------------------------- */
.eclipse {
  z-index: -10;
  left: -45%;
  top: 33%;
  animation: blob-float 6s ease-in-out 1s infinite alternate;
}

@keyframes blob-float {
  0% {
    transform: translateY(0);
    transform: translateX(0);
    filter: hue-rotate(0deg);
  }
  50% {
    transform: translateY(-20%);
    transform: translateX(20%);
  }
  100% {
    transform: translateY(20%);
    transform: translateX(-20%);
    filter: hue-rotate(45deg);
  }
}
.Skills__SkillCard {
  user-select: none;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  background: var(--skill-bg);
  box-shadow: var(--skill-shadow);
  border: var(--skill-border);
}
.Skills__SkillCard:hover {
  filter: contrast(10%);
  filter: brightness(1.2);
  backdrop-filter: blur(3px) saturate(400%);
  transition: all 0.6s;
}

.Skills__SkillCard:focus {
  filter: contrast(10%);
  filter: brightness(1.2);
  backdrop-filter: blur(3px) saturate(400%);
  transition: all 0.6s;
}

.Skills__SkillCard.show {
  animation: slide-in-bottom 1s both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* ABILITIES */
.ability-card {
  border-radius: 2rem;
  background: var(--ability-bg);
  box-shadow: var(--ability-shadow);
  border: var(--ability-border);
}
.ability-card.show {
  animation: slide-in-blurred-right 1s ease both;
}
.ability-card:after {
  content: "";
  position: absolute;
  left: -1px;
}
.ability-card:hover {
  background: var(--ability-bg-hover);
}

.ability-card:focus {
  background: var(--ability-bg-hover);
}

@keyframes slide-in-blurred-right {
  0% {
    transform: translateX(100px);
    transform-origin: 0% 50%;
    filter: blur(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
