.blog-button .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  border-radius: 1.625rem;
  background: var(--blog-btn-bg);
}
.blog-button .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.blog-button .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.blog-button .circle .icon.arrow::before {
  position: absolute;
  content: "";
  border-top: 0.125rem solid var(--blog-btn-icon);
  border-right: 0.125rem solid var(--blog-btn-icon);
  transform: rotate(45deg);
}
.blog-button .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  line-height: 1.6;
}
.blog-button:hover .circle {
  width: 100%;
}

.blog-button:hover .button-text {
  color: #fff;
}


