.scroll-line {
  background: linear-gradient(
    217deg,
    rgb(255, 230, 0) 20%,
    #dd31ffcc 75%,
    rgb(255, 0, 0) 100%
  );
  bottom: -1px;
  left: 0;
  height: 5px;
  position: absolute;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 9999;
}
.floating-header {
  z-index: 30;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.99;
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid var(--floating-header-border);
  background: var(--floating-header-bg);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate3d(0, -120%, 0);
}
.floating-active {
  visibility: visible;
  transition: all 0.5s cubic-bezier(0.22, 1, 0.27, 1);
  transform: translateZ(0);
}

.floating-header-logo {
  overflow: hidden;
  letter-spacing: -1px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.floating-header-divider {
  margin: 0 5px;
}
.floating-header-title {
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  margin: 0;
  color: var(--floating-header-title);
  line-height: 1.3em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 800px) {
  .floating-header-divider,
  .floating-header-title {
    visibility: hidden;
  }
}

.floating-header-share {
  display: flex;
  align-items: center;
  height: inherit;
}

.floating-header-share-tw {
  background: #33b1ff;
}
.floating-header-share-tw:hover {
  background: #25a1ee;
}
.floating-header-share-fb {
  background: #005e99;
}
.floating-header-share-fb:hover {
  background: #005285;
}
.floating-header-share-svg {
  width: auto;
  height: 16px;
  fill: #fff;
}
.floating-header-share a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: inherit;
}
.floating-header-share-linkedin {
  background: #000000;
}
.floating-header-share-linkedin:hover {
  background: #1d1c1c;
}

/* GO BACK BTN */
.FloatingHeader__GoBackButton > .FloatingHeader__GoBackArrowSVG {
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}
.FloatingHeader__GoBackButton:hover > .FloatingHeader__GoBackArrowSVG {
  transform: translateX(-3px);
}

/* IPHONE MINI */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .FloatingHeader__GoBackLabel {
    display: none;
  }
}

/* IPHONE */
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .FloatingHeader__GoBackLabel {
    display: none;
  }
}

/* IPHONE PRO MAX */
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .FloatingHeader__GoBackLabel {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .FloatingHeader__GoBackLabel {
    display: none;
  }
}
